/* ########## INDEX ##########
 *
 * 1. Reset
 * 2. Color Palette
 * 3. Fonts
 * 4. General Settigs
 * 5. Background
 * 6. NavBar
 * 7. Table 
 *    - 1.7 Contact style
 *
 * 2. LAYOUT SETTINGS
 *    - 2.1 General
 *    - 2.2 Menu layout
 *    - 2.3 Homepage layout
 *    - 2.4 About Me layout
 *    - 2.5 Education layout
 *    - 2.6 Work layout
 *    - 2.7 Contact layout
 *
 *############################ */

/* 1. Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
} 



/* 2. Color Palette */
:root {
  /* Danger messages and delete buttons (MESSAGES - BUTTON) */
  --danger1: #EE3F3F;
  --danger2: #F26764;

  /* Success messages (MESSAGES) */
  --success1: #7D9B5D;
  --success2: #77B868;
  --success3: #659E56;

  /* Background (BACKGROUND) */
  --background1: #F6F6F6;
  --backfround2: #FFFFF0;
  --background3: #F8F8FA;

  /* Table background (TABLE) */
  --tableBack1: #F8F8FA;
  --tableBack2: #EEEEEE;
  --tableBack3: #DDDDDD;
  --tableBack4: #BBBBBB;

  /* Font (TEXT - TABLE) (TITLE - TITLE TABLE ?) */
  --font1: #1E1E1E;
  --font2: #111111;
  --font3: #000000;
  --font4: #F6F6F6;

  /* Primary Color (TABLE - BUTTON - NAVBAR - FORM) (TITLE - TITLE TABLE?) */
  --primary-light: #F2C894;
  --primary2: #FCB347;
  --primary-dark: #FB985A;
}

/* 3. Font */

:root {
  /*font-family: Arial, Helvetica, sans-serif; */
  --header1: 'Alegreya SC';
  --header2: 'Work Sans';
  --header3: 'Roboto';
  --header4: 'Raleway';
  --header5: 'Merriweather Sans';
  --body1: 'Alegreya';
  --body2: 'Work Sans';
  --body3: 'Roboto';
  --body4: 'Raleway';
  --body5: 'Merriweather Sans';
}

/* 4. General Settigs*/

header, table {
  font-family: var(--header5), Arial, Helvetica, sans-serif; 
}

/* 5. Background */
body {
  background-color: var(--background1);
}

/* 6. NavBar */
.header {
  background-color: var(--primary-dark);
  color: var(--font4);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  outline: none;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 3rem;
}

.nav-link {
  text-decoration: none;
  color: var(--font4);
  font-size: 1.2rem;
  font-weight: 400;
}

.nav-link:hover, .nav-link:focus {
  color: var(--font1)
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 500;
}

.hamburger {
  display: none;
}

.hamburger-name {
  color: transparent;
  font-size: 0;
  position: relative;
  z-index: -99;
}

/* For tablet and mobile */
@media only screen and (max-width: 989px) {
  
  .nav-menu {
    display: none;
    flex-direction: column;
    background-color: var(--primary-dark);
    border-radius: 0 0 0.5em 0.5em;
    text-align: center;
    width: 100%;
    z-index: 2;
  }
  
  .nav-menu.active {
    display: flex;
    position: fixed;
    top: 4rem;
    left: 0;
  }

  .nav-item {
    padding: 1rem;
    margin: 0;
  }
 
  .hamburger {
    display: flex;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: var(--primary-dark);
    color: var(--background1);
    border: none;
  }

  .hamburger-close {
    display: none;
  }

  .hamburger-close.active {
    display: flex;
  }

  .hamburger-open.active{
    display: none;
  }

}

/* 7. Table */
.table-container {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  margin: 1rem;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
}

caption {
  padding: 0.5em;
  background-color: var(--primary-dark);
  color: var(--background1);
  font-size: 1.2rem;
  border-bottom: 0.2em solid var(--primary-light)
}

thead {
  border: 0.2em solid var(--primary-dark);
}

tbody {
  border: 0.2em solid var(--primary-light);
}

.table-first-column {
  text-align: start;
}

th, td {
  padding: 0.5em;
}

th {
  vertical-align: bottom;
  background-color: var(--primary-dark);
  color: var(--background1);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

tr:nth-child(even) {
  background-color: var(--primary-light);
}

tr:nth-child(odd) {
  background-color: var(--background1);
}

@media 
only screen and (max-width: 989px) {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
  caption {
    display: flex;
    text-align: center;
  }

	/* Hide table headers */
	thead tr { 
		color: transparent;
    font-size: 0;
    position: relative;
    z-index: -99;
	}
  
  .table-first-column {
  text-align: end;
}

	/* Behave  like a "row" */
	td { 
		border: none;
		position: relative;
		padding-left: 50%;
    text-align: end;
    z-index: 1;
    width: 80vw;
	}
	
	td:before { 
		position: absolute;
		text-align: start;
		top: 0.5em;
		left: 0.5em;
		width: 45%; 
		padding-right: 0.5em; 
		white-space: nowrap;
    z-index: 1;
	}
	
	/* Label the data: Cases */
	table.cases td:nth-of-type(1):before { content: "Country"; }
	table.cases td:nth-of-type(2):before { content: "Population"; }
	table.cases td:nth-of-type(3):before { content: "Confirmed"; }
	table.cases td:nth-of-type(4):before { content: "%"; }
	table.cases td:nth-of-type(5):before { content: "Recovered"; }
	table.cases td:nth-of-type(6):before { content: "%"; }
	table.cases td:nth-of-type(7):before { content: "Deaths"; }
	table.cases td:nth-of-type(8):before { content: "%"; }
	table.cases td:nth-of-type(9):before { content: "Updated"; }

  /* Label the data: Vaccines */
  table.vaccines td:nth-of-type(1):before { content: "Country"; }
	table.vaccines td:nth-of-type(2):before { content: "Population"; }
	table.vaccines td:nth-of-type(3):before { content: "Administered"; }
	table.vaccines td:nth-of-type(4):before { content: "Totally Vaccinated"; }
	table.vaccines td:nth-of-type(5):before { content: "%"; }
	table.vaccines td:nth-of-type(6):before { content: "Partially Vaccinated"; }
	table.vaccines td:nth-of-type(7):before { content: "%"; }
	table.vaccines td:nth-of-type(8):before { content: "Updated"; }
}
