<header class="header">
    <nav class="navbar" role="navigation">
        <p class="nav-logo"><i class="fas fa-virus"></i> CovidTracker</p>
        <ul class="nav-menu">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/by_country">Data by Country</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vaccination">Vaccination Data</a>
                {% if session['logged_in'] %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log Out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log In</a>
                </li>
                {% endif %}
            </div>
            </ul>
            <button class="hamburger">
                <span class="hamburger-open"><i class="fas fa-bars"></i></span>
                <span class="hamburger-close"><i class="fas fa-times"></i></span>
                <span class="hamburger-name">Menu</span>  
            </button>
    </nav>
</header>
        