{% extends "layout.html" %}

{% block title %}

    Add to dashboard

{% endblock %}

{% block main %}

    {% from "includes/_formrender.html" import render_field %}
    <section class="container">
        <form method="POST" action="/add_country_cases">
            <div class="form-group">
                <dl>
                    {{ render_field(form.country_list_cases, class_="form-control mb-2") }}
                    {{ render_field(form.submit, class_="form-control btn btn-primary mt-5")}}
                </dl>
            </div>
        </form>
    </section>
    
{% endblock %}