{% extends "layout.html" %}

{% block title %}

    Add to dashboard

{% endblock %}

{% block main %}
    {% from "includes/_formrender.html" import render_field %}
        <form method="POST" action="/add_country_vaccination">
            <section class="form-group">
                    {{ render_field(form.country_list_vaccines, class_="form-control") }}
                    {{ render_field(form.submit, class_="form-control form-submit btn")}}
            </section>
        </form>  
{% endblock %}

