{% extends "layout.html" %}

{% block title %}

    Add to dashboard

{% endblock %}

{% block body %}

    {% from "includes/_formrender.html" import render_field %}
    <div class="container">
        <form method="POST" action="/add_country_vaccination">
            <div class="form-group">
                <dl>
                    {{ render_field(form.country_list_vaccines, class_="form-control mb-2") }}
                    {{ render_field(form.submit, class_="form-control btn btn-primary mt-5")}}
                </dl>
            </div>
    
{% endblock %}

