{% extends "layout.html" %}

{% block title %}

    Dashboard

{% endblock %}

{% block main %}
    <header>
        <h1>Welcome <small>{{ session['user'] }}</small></h1>
    </header>

    <section class="container text-center">
        <a href="/add_country_cases" class="btn btn-primary mt-2">Follow Country - Cases</a>
        <a href="/add_country_vaccination" class="btn btn-primary mt-2">Follow Country - Vaccination data</a>
    </section>
    
    {% if cases %}
        <section class="table-container">
            <table class="cases">
                <caption>Covid-19 Cases</caption>
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>Population</th>
                        <th>Confirmed</th>
                        <th>%</th>
                        <th>Recovered</th>
                        <th>%</th>
                        <th>Deaths</th>
                        <th>%</th>
                        <th>Updated</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for case in cases %}
                        <tr>
                            <td>{{ case.country }}</td>
                            <td>{{ case.population | mil }}</td>
                            <td>{{ case.confirmed | mil }}</td>
                            <td>{{ case.confirmed_percent }}</td>
                            <td>{{ case.recovered | mil }}</td>
                            <td>{{ case.recovered_percent }}</td>
                            <td>{{ case.deaths | mil }}</td>
                            <td>{{ case.deaths_percent }}</td>
                            <td>{{ case.updated | truncate(16, False, '') }}</td>
                            <td>
                                <form action="/update_case/{{ case.id }}" method="POST">
                                    <input type="submit" class="btn btn-secondary" value="Update">
                                </form> 
                            </td>
                            <td>
                                <form action="/delete_case/{{ case.id }}" method="POST">
                                    <input type="submit" class="btn btn-danger" value="Delete">
                                </form>  
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    {% endif %}

    {% if vaccines %}
        <section class="table-container">
            <table class="vaccines">
                <caption>Vaccination Data</caption>
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>Population</th>
                        <th>Administered</th>
                        <th>Totally Vaccinated</th>
                        <th>%</th>
                        <th>Partially Vaccinated</th>
                        <th>%</th>
                        <th>Updated</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for vaccine in vaccines %}
                        <tr>
                            <td>{{ vaccine.country }}</td>
                            <td>{{ vaccine.population | mil }}</td>
                            <td>{{ vaccine.administered_vaccines | mil }}</td>
                            <td>{{ vaccine.totally_vaccinated | mil }}</td>
                            <td>{{ vaccine.totally_vaccinated_percent }}</td>
                            <td>{{ vaccine.partially_vaccinated | mil }}</td>
                            <td>{{ vaccine.partially_vaccinated_percent }}</td>
                            <td>{{ vaccine.updated | truncate(16, False, '') }}</td>
                            <td>
                                <form action="/update_vaccine/{{ vaccine.id }}" method="POST">
                                    <input type="submit" class="btn btn-secondary" value="Update">
                                </form> 
                            </td>
                            <td>
                                <form action="/delete_vaccine/{{ vaccine.id }}" method="POST">
                                    <input type="submit" class="btn btn-danger" value="Delete">
                                </form> 
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    {% endif %}

{% endblock %}