{% extends "layout.html" %}

{% block title %}

    Index

{% endblock %}

{% block main %}
    <header class="container">
        <h1 class="text-center">gs
            git Global Data</h1>
    </header>
    <section class="container">
        <h2 class="text-center mt-4">Covid-19 Cases</h2>
        <table class="table text-center">
            <thead>
                <tr>
                    <th>World Population</th>
                    <th>Confirmed</th>
                    <th>% of Population</th>
                    <th>Recovered</th>
                    <th>%</th>
                    <th>Death</th>
                    <th>%</th>
                </tr>
            </thead>
            <tbody>
                {% for case, location in global_cases.items() %}
                <tr>
                    <td>{{ location["population"] | mil }}</td>
                    <td>{{ location["confirmed"] | mil }}</td>
                    <td>{{ "%.3f" | format((location["confirmed"] / location["population"]) * 100) }}%</td>
                    <td>{{ location["recovered"] | mil }}</td>
                    <td>{{ "%.3f" | format((location["recovered"] / location["confirmed"]) * 100) }}%</td>
                    <td>{{ location["deaths"] | mil }}</td>
                    <td>{{ "%.3f" | format((location["deaths"] / location["confirmed"]) * 100) }}%</td>
                </tr>
                    {% endfor %}
            </tbody>
        </table>
    </section>
    <section class="container">
        <h2 class="text-center mt-4">Vaccination</h2>
        <table class="table text-center">
            <thead>
                <tr>
                    <th>World Population</th>
                    <th>Vaccine Administrated</th>
                    <th>People Vaccinated</th>
                    <th>%</th>
                    <th>People Partially Vaccinated</th>
                    <th>%</th>
                </tr>
            </thead>
            <tbody>
                {% for vaccinated, location in global_vaccination.items() %}
                <tr>
                    <td>{{ location["population"] | mil }}</td>
                    <td>{{ location["administered"] | mil }}</td>    
                    <td>{{ location["people_vaccinated"] | mil }}</td>
                    <td>{{ "%.3f" | format((location["people_vaccinated"] / location["population"]) * 100) }}%</td>
                    <td>{{ location["people_partially_vaccinated"] | mil }}</td>
                    <td>{{ "%.3f" | format((location["people_partially_vaccinated"] / location["population"]) * 100) }}%</td>
                </tr>
                    {% endfor %}
            </tbody>
        </table>
    </section>
    <section class="container mt-4">
        <a href="/by_country" class="btn btn-primary">Data by country</a>
        <a href="/vaccination" class="btn btn-primary">Vaccination Data</a>
    </section>
    <section class="container mt-4">
        <a href="/register" class="btn btn-primary">Register</a>
        <a href="/login" class="btn btn-primary">Log In</a>
    </section>


    
{% endblock %}