{% extends "layout.html" %}

{% block title %}

    Register

{% endblock %}

{% block main %}

    {% from "includes/_formrender.html" import render_field %}
    
    <section class="container">
        <form method="POST" action="/register">
            <div class="form-group">
                <dl>
                    {{ render_field(form.username, class_="form-control mb-2", placeholder="Username")}}
                    {{ render_field(form.email, class_="form-control mb-2", placeholder="Email")}}
                    {{ render_field(form.password, class_="form-control mb-2", placeholder="Password")}}
                    {{ render_field(form.confirm, class_="form-control", placeholder="Confirm")}}
                    {{ render_field(form.submit, class_="form-control btn btn-primary mt-5")}}
                </dl>
            </div>
        </form>
    </section>

{% endblock %}