{% extends "layout.html" %}

{% block title %}

    Register

{% endblock %}

{% block main %}

    {% from "includes/_formrender.html" import render_field %}
    

        <form method="POST" action="/register">
           
                <section class="form-group">
                    <h1 class="form-hidden">Registration</h1>
                    {{ render_field(form.username, class_="form-control", placeholder="Username", autocomplete="off", autofocus=true)}}
                    {{ render_field(form.email, class_="form-control", placeholder="Email", autocomplete="off")}}
                    {{ render_field(form.password, class_="form-control", placeholder="Password", autocomplete="off")}}
                    {{ render_field(form.confirm, class_="form-control", placeholder="Confirm", autocomplete="off")}}
                    {{ render_field(form.submit, class_="form-control form-submit btn")}}
            </section>
        </form>
    

{% endblock %}