{% extends "layout.html" %}

{% block title %}

    Vaccines

{% endblock %}

{% block main %}

    <header class="container">
        <h1 class="text-center">Vaccination by Country</h1>
    </header>
    <section class="container">
        <table class="table align-middle">
            <thead class="text-center">
                <tr>
                    <th>Country</th>
                    <th>Population</th>
                    <th>Administered</th>
                    <th>Totally Vaccinated</th>
                    <th>%</th>
                    <th>Partialy Vaccinated</th>
                    <th>%</th>
                    <th>Updated</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for country, vaccines in vaccination_by_country.items() %}
                    {% if vaccines["All"]["population"] and country != "Global" %}
                        <tr>
                            <td class="text-start"> {{ country }} </td>
                            <td> {{ (vaccines["All"]["population"]) | mil }} </td>
                            <td>{{ vaccines["All"]["administered"] | mil }}</td>
                            <td>{{ vaccines["All"]["people_vaccinated"] | mil }}</td>
                            <td>{{ "%.2f" | format((vaccines["All"]["people_vaccinated"] / vaccines["All"]["population"]) * 100) }}%</td>
                            <td>{{ vaccines["All"]["people_partially_vaccinated"] | mil }}</td>
                            <td>{{ "%.2f" | format((vaccines["All"]["people_partially_vaccinated"] / vaccines["All"]["population"]) * 100) }}%</td>
                            <td>{{ vaccines["All"]["updated"] | truncate(16, False, '')}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}